@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h3>@ViewData["acts"]</h3>
<h3>@ViewData["befores"]</h3>
<h3>@ViewData["acc"]</h3>

<p>Use this area to provide additional information.</p>
